@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

.App {
  max-width: 860px;
  margin: 45px auto;
  font-size: x-large;
    
 }

body{

  font-family: 'Bangers', cursive;
  text-align: center;
  text-decoration-color: #d606cc;
  color: #000000;
  background-image: url("https://wallpapercave.com/wp/wp148216.jpg");
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

button {
  background: nome ;
  background-color: rgb(12, 240, 42);
  border: 2px solid rgb(119, 2, 90, 0.959); 
  padding: 6px 12px;
  border-radius: 10px;
  color: rgb(114, 5, 68);
  font-weight: bold;
  cursor: pointer;
  font-size: large;

}





